.pointCounterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  background-color: var(--points-background);
}
.pointSpentLabel {
  color: var(--font-blue);
}
@media (max-width: 768px) {
  .pointCounterContainer {
    font-size: 1rem;
  }
}
