.runeSprite {
  width: 50px;
  height: 50px;
  background-image: url("/talent-icons-sprite.png");
  border-style: outset;
  border: none;
  padding: 0;
  cursor: pointer;
  display: block;
  outline: none;
}

.runeSprite:hover {
  cursor: pointer;
}

.stack-rune {
  background-position: 0px -50px;
}
.food-rune {
  background-position: -50px -50px;
}
.cake-rune {
  background-position: -100px -50px;
}
.crown-rune {
  background-position: -150px -50px;
}
.boat-rune {
  background-position: -200px -50px;
}
.scuba-rune {
  background-position: -250px -50px;
}
.lightning-rune {
  background-position: -300px -50px;
}
.skull-rune {
  background-position: -350px -50px;
}
.runeFrame {
  height: 58px;
  width: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.runeFrameUnenabled {
  background-image: linear-gradient(
    to bottom,
    var(--frame-grey) 0%,
    var(--frame-grey) 50%,
    #363636 50%,
    var(--frame-grey) 100%
  );
}
.runeFrameActive {
  background-image: linear-gradient(
    to bottom,
    var(--primary-blue) 0%,
    var(--primary-blue) 50%,
    #263a51 50%,
    var(--primary-blue) 100%
  );
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
.runeActive {
  background-position-y: 0px;
}
.runeUnlocked:hover {
  background-position-y: 0px;
}
