.calculatorContainer {
  background-size: auto;
  background-image: url("/talent-calc-bg.png");
  background-size: cover;
  margin: 1rem;
  max-width: fit-content;
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.titleWrapper {
  background-color: #1a1a1a;
  padding: 1rem;
}
.titleWrapper h1 {
  height: 100%;
  font-size: 25px;
  text-align: center;
}
.talentWrapper {
  display: flex;
  height: 100%;
}

@media (max-width: 768px) {
  .talentWrapper {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 2rem;
  }
}
