@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --font-family: "Open Sans", sans-serif;
  --font-weight: 600;
  --text-color: rgb(255, 255, 255);
  --bg-color: #242424;
  --primary-blue: #6196cb;
  --frame-grey: #4e4e4e;
  --points-blue: #32475d;
  --connector-grey: #313233;
  --points-background: #050708;

  font-family: var(--font-family);
  font-weight: var(--font-weight);
  color: var(--text-color);
  background-color: var(--bg-color);
}
